 body {
      margin: 0;
      font-family:'Lucida Calligraphy';
      font-size: 17px;
      background-color: #000000;
      color: #f1f1f1;
      overflow: hidden;
    }
    .top-bar {
      background-color: #7b17b8;
      color: #ffe6ff;
      text-align: center;
      font-size: 15px;
      padding: 10px 0;
      overflow: hidden;
      position: relative;
    }
    .carousel-text p {
      margin: 0;
      height: 1.5em;
      line-height: 1.5em;
    }

    @keyframes slide {
      0%, 20% { transform: translateY(0%); }
      25%, 45% { transform: translateY(-100%); }
      50%, 70% { transform: translateY(-200%); }
      75%, 100% { transform: translateY(0%); }
    }
    .carousel-text {
      display: inline-block;
      animation: slide 12s infinite;
    }
    header {
      background-color: #e499f7;
      color: rgb(145, 45, 238);
      padding: 25px 15px;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    main {
      max-width: 900px;
      margin: 40px auto;
      padding: 0 20px;
    }
     h1 {
      text-align: center;
      margin-bottom: 40px;
      color: #a1cdf7;
      font-size: 50px;
      margin: 5px 0;
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
    header h1{
       font-size: 50px;
      margin: 5px 0;
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
    header p {
  font-size: 18px;
  color: #ffe6ff;
}
header img {
  display:block;
  margin: 0 auto 10px;
}
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      gap: 30px;
    }
.card {
  background: #ffe6ff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 35px rgba(154,48,236,0.25);
}
    .card h2 {
      color: #000000;
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    .card p {
      color: #3701fd;
      font-size: 1rem;
      margin-bottom: 20px;
      flex-grow: 1;
    }
.card a {
  background-color: #9a30ec;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
    .card a:hover {
      background-color: #05acfa;
    }
  .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

    footer {
      text-align: center;
      margin: 50px 10px 20px;
      font-size: 0.9rem;
      color: #e66deb;
    }
    header img {
  display:block;
  margin:0 auto 10px;
}
header p {
  font-size: 20px;
  margin-top: 10px;
  color: #7b17b8;
}
